@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&display=swap");
$Dancing: "Dancing Script", cursive;
$Ibm: "IBM Plex Mono", monospace;
$Playfair: "Playfair Display", serif;
$mobile: 568px;
$tablet: 990px;
$horizontalCelular: 360px;
